*
!*/

!*.py
!README.md
!.gitignore

!binance
!binance/*

!configs
!configs/.gitkeep

!data
!data/.gitkeep
!data/binanceFuturesLeverageMarginTable_20250814_0617.json
!data/cycleData
!data/cycleData.gitkeep
!data/db
!data/db/.gitkeep
!data/gui
!data/gui/.gitkeep
!data/tm
!data/tm/.gitkeep

!GUI/audios/*.mp3

!GUI/imgs/
!GUI/imgs/windowIcon.png
!GUI/imgs/rsc/
!GUI/imgs/rsc/.gitkeep
!GUI/imgs/rsc/*.png
!GUI/imgs/rsd
!GUI/imgs/rsd/.gitkeep
!GUI/imgs/sysGen
!GUI/imgs/sysGen/.gitkeep