*
!*/

.venv/
.venv/*
.idea/
__pycache__/

!*.py
!README.md
!README.ko.md
!.gitignore
!docs
!docs/*.png

!setup.bat
!setup.sh
!run.bat
!run.sh
!requirements.txt

!binance
!binance/*

!configs
!configs/.gitkeep
!configs/gui
!configs/gui/.gitkeep

!data
!data/.gitkeep
!data/binanceFuturesLeverageMarginTable_20250814_0617.json
!data/cycleData
!data/cycleData/.gitkeep
!data/db
!data/db/.gitkeep
!data/gui
!data/gui/.gitkeep
!data/tm
!data/tm/.gitkeep

!rqpfunctions
!rqpfunctions/.gitkeep
rqpfunctions/*.py
!rqpfunctions/rqpf_CLASSICALSIGNALDEFAULT.py

!GUI/fonts/*.ttf

!GUI/audios/*.mp3

!GUI/imgs/
!GUI/imgs/windowIcon.png
!GUI/imgs/rsc/
!GUI/imgs/rsc/.gitkeep
!GUI/imgs/rsc/*.png
!GUI/imgs/rsd
!GUI/imgs/rsd/.gitkeep
!GUI/imgs/sysGen
!GUI/imgs/sysGen/.gitkeep

